/* body{
    color:brown;
} */

.row {
    display :flex;
    flex-wrap: wrap;
}

.imgheight{

    height : 200px;

}

.navbar-collapse.collapse.in {
    display: block!important;
  }

input.inputwidth[type = "text"],
button.btnwidth{
      width : 30%;
      margin :25px auto;
  }

  div.footerwidth{
      width : 30%;
      margin : 25px auto;
      
  }


.hdcenter{
    text-align: center;
}

p  a.btn{
    margin-top :15px;
}
