<% include partials/header %>
    <H1>OMDB Movie Search Page</H1>


    <form action="/movieSearch" method="POST">
        <input type="text" name="search" placeholder="Search Movies...">
        <button>submit</button>
    </form>

    <br>
    <br>
    <hr>
    <div></div><P>Results:</P>
    <ol>
        <% searchResult.forEach(function(result){ %>
            <% var postURL = result["Poster"]; %>
            <% var imdbID = result["imdbID"]; %>
            <li id=<%=imdbID%>>
              <%= result["Title"] %>  -  <%= result["Year"] %> - <%= result["Type"]%>
            </li>
        <% }); %>
    </ol>
</div>
<div>
    <img src = "#">
</div>
    
<% include partials/footer %>