<!DOCTYPE html>
<html>

<head>
    <title>
        Novelty - Change Management System
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
</head>

<body>
    <div class="ui container">
        <div class="ui secondary pointing menu">
            <a class="active item">
                Home
            </a>
            <a class="item">
                Change Board
            </a>
            <a class="item">
                Calender
            </a>
            <a class="ui item" href="/change/new"> New Change</a>

            <div class="right menu">
                <a class="ui item">
                    Login
                </a>
            </div>
        </div>
    </div>