<% include ../partials/header %>
    <!-- <h2>Login</h2> -->
    <!-- <form action = "/login" method = "POST">
    <input type = "text" name = "username" placeholder = "USERNAME">
    <input type = "password" name = "password" placeholder = "PASSWORD">
    <input type = "submit" value = "Login">
</form> -->


    <div class="container">
        <h2 class="hdcenter">Login</h2>

        <form action="/login" method="POST">
            <input class="form-control inputwidth text-center" type="text" name="username" placeholder="USERNAME">
            <input class="form-control inputwidth text-center" type="password" name="password" placeholder="PASSWORD">
            <button class="btn btn-outline-info btn-block btnwidth" >Login</button>
        </form>
    </div>
<% include ../partials/footer %>