SIGN UP.

<form action = "/register" method = "POST">
    <input type = "text" name = "username" placeholder = "USERNAME">
    <input type = "password" name = "password" placeholder = "PASSWORD">
    <button>Sign Up</button>
</form>