<% include partials/header %>
<H1>List of CampGrounds</H1>


<% campgrounds.forEach(function(campground){ %>

    <div>
        <p><%= campground.name%></p>
        <img src = "<%= campground.image%>">

    </div>
<% }); %>    

<% include partials/footer %>