<% include partials/header %>

    <div class="container">
        <H1>LANDING Page!</H1>

        <p>Welcome to the CampGrounds Page.</p>

        <a href="/campgrounds"> View CampGrounds</a>

    </div>

    <% include partials/footer %>