<% include partials/header %>


    <div class="container">
            <h2 class = "hdcenter">Create New CampGrounds</h2>
        <form action="/campgrounds" method="POST">

            <input class = "form-control inputwidth text-center" type="text" name="name" placeholder="Name">
            <input class = "form-control inputwidth text-center" type="text" name="image" placeholder="Image URL">
            <input class = "form-control inputwidth text-center" type="text" name="description" placeholder="Description">
            <button class = "btn btn-outline-info btn-block btnwidth">Add CampGrounds</button>

        </form>

        <div class = "footerwidth"><a href="/campgrounds">Back</a></div>
    </div>
    <% include partials/footer %>