<% include partials/header %>
<h1>Create New CampGrounds</h1>


<form action = "/campgrounds" method="POST">

    <input type="text" name = "name" placeholder="Name">
    <input type="text" name = "image" placeholder="Image URL">
    <button>Add CampGrounds</button>

</form>

<a href = "/campgrounds">Back</a>
<% include partials/footer %>