<% include ./partials/header %>


    <H1>CHANGE MANAGEMENT SYSTEM - INDEX PAGE</H1>

    <% resultChanges.forEach(function(change){ %>

        <div>
            <a href="/change/<%= change._id%>">
                <%= change.changeId%>
            </a>
        </div>
        <div>
            <%= change.header%>
        </div>
        <div>
            <%= change.enteredDate.toDateString() %>
        </div>

    <% }); %>

    <a href="/change/new"> Add Change</a>

<% include ./partials/footer %>