/* body{
    color:brown;
} */

.row {
    display :flex;
    flex-wrap: wrap;
}

.imgheight{

    height : 200px;

}

.navbar-collapse.collapse.in {
    display: block!important;
  }